<!DOCTYPE html>
<html lang="en">

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Modelo 1</title>
</head>

<body>
  <form action="/" method="post">
    <div class="container">
      <div class="col" style="text-align:center;">
        <h2>Ingresar Información</h2>
      </div>
      <div class="col">

        <div class="col"></div>

        <div class="col z-depth-4 card-panel border-radius-6" style="text-align:left;">
          <br></br>
          <label for="pregunta" style="color: black;">Pregunta:</label>
          <textarea id="pregunta" class="materialize-textarea" placeholder="Escribe aquí una pregunta"></textarea>
          <br></br>
          <br></br>
          <label for="respuesta1" style="color: black;">Respuesta 1:</label>
          <textarea id="respuesta1" class="materialize-textarea" placeholder="Escribe aquí una respuesta"></textarea>
          <p>
            <label>
              <input type="checkbox" id="R1" />
              <span>Correcto</span>
            </label>
          </p>
          <br></br>
          <label for="respuesta2" style="color: black;">Respuesta 2:</label>
          <textarea id="respuesta2" class="materialize-textarea" placeholder="Escribe aquí una respuesta"></textarea>
          <p>
            <label>
              <input type="checkbox" id="R2" />
              <span>Correcto</span>
            </label>
          </p>
          <br></br>
          <label for="respuesta3" style="color: black;">Respuesta 3:</label>
          <textarea id="respuesta 3" class="materialize-textarea" placeholder="Escribe aquí una respuesta"></textarea>
          <p>
            <label>
              <input type="checkbox" id="R3" />
              <span>Correcto</span>
            </label>
          </p>
          <br></br>
          <label for="respuesta4" style="color: black;">Respuesta 4:</label>
          <textarea id="respuesta 4" class="materialize-textarea" placeholder="Escribe aquí una respuesta"></textarea>
          <p>
            <label>
              <input type="checkbox" id="R4" />
              <span>Correcto</span>
            </label>
          </p>
          <br></br>
          <div style="text-align:right;">
            <button class="btn waves-effect waves-light" type="submit" onclick="window.location.href='/'">Guardar
              Información
              <i class="material-icons right">send</i>
            </button>
            <br></br>
          </div>
        </div>

        <div class="col"></div>

      </div>

    </div>
  </form>
  <div id="pie" class="col" style="text-align:center;">
    © 2020 Investigación y Desarrollo
  </div>
  <script>
    let chek1 = document.getElementById('R1')
    let chek2 = document.getElementById('R2')
    let chek3 = document.getElementById('R3')
    let chek4 = document.getElementById('R4')

    chek1.addEventListener('change', function () {

      if (chek2.checked) {
        chek2.checked = false
      }
      if (chek3.checked) {
        chek3.checked = false
      }
      if (chek4.checked) {
        chek4.checked = false
      }
    })

    chek2.addEventListener('change', function () {

      if (chek1.checked) {
        chek1.checked = false
      }
      if (chek3.checked) {
        chek3.checked = false
      }
      if (chek4.checked) {
        chek4.checked = false
      }
    })

    chek3.addEventListener('change', function () {

      if (chek1.checked) {
        chek1.checked = false
      }
      if (chek2.checked) {
        chek2.checked = false
      }
      if (chek4.checked) {
        chek4.checked = false
      }
    })

    chek4.addEventListener('change', function () {

      if (chek1.checked) {
        chek1.checked = false
      }
      if (chek2.checked) {
        chek2.checked = false
      }
      if (chek3.checked) {
        chek3.checked = false
      }
    })
  </script>
</body>

</html>