<!DOCTYPE html>
<html lang="en">
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modelo 2</title>
</head>
<body>
  <div class="container">
    <div class="col" style="text-align:center;"> 
      <h2>Panel de preguntas:</h2> 
    </div> 
      <div class="col">

      <div class="col"></div>

      <div class="col z-depth-4 card-panel border-radius-6" style="text-align:left;">
        <br></br>
        <table>
          <thead>
            <tr>
                <th>No.</th>
                <th>Contenido</th>
                <th>Acciones</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>1</td>
              <td>¿Porqué el cielo es azul?</td>
              <td>
                  <i class="small material-icons" onclick="window.location.href='/add'">edit</i>
                  <i class="small material-icons" onclick="window.location.href='/add'">delete</i>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>¿Podemos contar las estrellas?</td>
              <td>
                <i class="small material-icons">edit</i>
                <i class="small material-icons">delete</i>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>¿El peso Mexicano está respaldado en oro?</td>
              <td>
                <i class="small material-icons">edit</i>
                <i class="small material-icons">delete</i>
              </td>
            </tr>
          </tbody>
        </table>
        <br></br>
        <div style="text-align:right;">
          <a class="btn-floating btn-large waves-effect waves-light red" type="submit" onclick="window.location.href='/add'">
            <i class="material-icons">add</i></a>
          <br></br>
        </div>
        </div>

      <div class="col"></div>

    </div>

  </div>
    <div id="pie" class="col" style="text-align:center;"> 
    © 2020 Investigación y Desarrollo 
    </div> 
</body>
</html>