// Compiled and minified CSS
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
// Compiled and minified JavaScript
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
link(rel='shortcut icon' type='image/x-icon' href='static/images/favicon.png')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
link(rel='stylesheet' type='text/css' href='/static/assets/style.css')
link(rel='stylesheet' type='text/css' href='/static/assets/login.css')

title User Login
.row
  .col.s12
    .container
      #login-page.row
        .col.s12.m6.l4.z-depth-4.card-panel.border-radius-6.login-card.bg-opacity-8
          form.login-form(action='/home', method='post')
            .row
              .input-field.col.s12
                h5.ml-4 Acceder
            .row.margin
              .input-field.col.s12
                i.material-icons.prefix.pt-2 person_outline
                input#email(type="email", name="email" required).form-control
                label.center-align(for='email') Email
            .row.margin
              .input-field.col.s12
                i.material-icons.prefix.pt-2 lock_outline
                input#password(type="password", name="password" required).form-control
                label(for='password') Contrasena
            .row
              .col.s12.m12.l12.ml-2.mt-1
                p
                  label
                    input(type='checkbox')
                    span Recordarme
            .row
              .input-field.col.s12
                button.btn.waves-effect.waves-light.border-round.gradient-45deg-purple-deep-orange.col.s12 Entrar
            .row
              .input-field.col.s6.m6.l6
                p.margin.medium-small
                  a(href='/register') Registrarse!
              .input-field.col.s6.m6.l6
                p.margin.right-align.medium-small
                  a(href='/forgot') Olvide mi contrasena